.login {
  display: block;
  width: 100vw;
}

.container-fluid.loginpage {
  height: 100vh;
  background: black;
}

.title {
  margin-top: 150px;
  font-family:'Quicksand', sans-serif;
  color: #E26A6A;
  font-size: 90px;
  text-align: center;
}

.subtitle {
  font-family:'Quicksand', sans-serif;
  color: white;
  font-size: 50px;
  text-align: center;
}

.socialBtn {
  text-align: center;
  margin-top: 50px;
}

.fetching {
  font-size: 200px;
  color: white;
}
