#userListGrid {
  height: 100%;
  width: auto;
  padding: 10px 0;
  border: 1px solid red;
}

.userPic {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  margin-left: 10px;
  margin-top: -5px;
  border-radius: 50%;
}

.userName {
  font-size: 20px;
  color: white;
  display: inline-block;
  margin-top: 22px;
}

.userListComponent {
  background-color: rgb(84, 84, 84);
  height: 70px;
  margin-bottom: 3px;
}
