#chatGrid {
  height: 100%;
  position: relative;
}

.chatInput {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.emojiMenu {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 5px;
  z-index: 2;
}

.chatTextWrapper {
  height: 100%;
  width: auto;
  padding-top: 25px;
  padding-bottom: 50px;
  overflow: auto;
  overflow-x: hidden;
  background-color: rgba(48, 48, 48, 0.6);
  border-radius: 10px;
}

.chatTextWrapper::-webkit-scrollbar {
  display: none;
}

.chatTextComponent {
  width: 100%;
  min-height: 40px;
  word-break: break-all;
  margin-bottom: 2px;
  padding-right: 8px;
  padding-left: 8px;
}

.messageLeft {
  font-size: 18px;
  margin-left: 40px;
  margin-bottom: 10px;
  padding-right: 10px;
   display:block;
}

.messageRight {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 45px;
  padding-top: 2px;
}

.chatTextLeft {
  display: inline-block;
  font-family: sans-serif;
  font-weight: 100;
  padding-top: 7px;
  padding-left: 5px;
  margin-right: 40px;
  background-color: rgba(48, 48, 48, 0.5);
  border-radius: 10px;
  color: white;
}

.chatTextRight {
  display: inline-block;
  font-family: sans-serif;
  font-weight: 100;
  float: right;
  clear:right;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 3px;
  margin-left: 40px;
  margin-bottom: 3px;
  background-color: rgba(48, 48, 48, 0.5);
  border-radius: 10px;
  color: white;
}

.userPicLeft, .userPicRight {
  width: 35px;
  height: 32px;
}

.userPicLeft {
  border-radius: 50%;
  float: left;
  margin-right: 10px;

  zoom:1;
  display: block;
  margin: auto;

  max-height: 100%;

  max-width: 100%;
}


.userPicRight {
  float: right;
  border-radius: 50%;
  margin-right: 0px;
  margin-left: 10px;
  margin-top: 0px;

  zoom:1;
  display: block;
  margin: auto;

  max-height: 100%;

  max-width: 100%;
}

.userNameDisplay {
  font-size: 12px;
  display: inline-block;
  color: gray;
  padding-right: 10px;
}

#messageEnd {
  clear: "both"
}

#emojiMenu {
  color:red;
}
