#chatGrid {
  height: 100%;
  width: auto;
}

.chatInput {
  position: absolute;
  bottom: 0;
  margin-left: -15px;
  margin-right: 15px;
}

.chatTextWrapper {
  height: 90%;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid red;
  overflow: auto;
  overflow-x: hidden;
}

.chatTextWrapper::-webkit-scrollbar {
  display: none;
}

.chatText {
  width: 100%;
  text-align: left;
  word-break: break-all;
  margin-bottom: 2px;
  background-color: rgba(40, 40, 40, 0.2);
}

#messageEnd {
  clear: "both"
}
