.lobbyContainer{
  width:100vw;
  height:100vh;
}

.componentContainer {
  display:flex;
  height: 85vh;
  flex-direction: column;
}

.startBtnContainer {

  text-align:center;


}

/* Preferences */

.preferenceContainer {
  display:flex;
  flex-direction: column;
  border: 1px solid black;
  height: 25vh;

  margin-top:10%;
}

.preferenceBar {
  padding:15px;
}

.preferenceTrending {
  display:flex;
  border: 1px solid black;
  padding:15px;
}


/* Header and footer */

.headerContainer{
  display:flex;
  width: 100%;
  top:auto;
}

.footerContainer {
  display:flex;
  bottom: 0;
}
