.lobbyContainer{
  width:100vw;
  height:100vh;
  background-color: black;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

.componentContainer {
  height: 300px;
  width: 70vw;
  background: rgb(31, 30, 30);
  border-radius: 10px;
}

/* Preferences */

.preferenceContainer {
  color: white;
  width: 60vw;
  height: 200px;
  margin: auto;
  padding-top: 50px;
}
