.mainBox {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.lobbyContainer{
  width:100vw;
  background-color: black;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  flex: 1 1 auto;
}

.componentContainer {
  width: 65vw;
  background: rgb(31, 30, 30);
  border-radius: 10px;
}

@media (max-width: 768px) {
  .componentContainer {

  }
}

/* Preferences */

.preferenceContainer {
  color: white;
  width: 60vw;

  margin: 0 auto;
  padding-top: 25px;
}

.prefBarLabel, .trendingLabel {
  font-size: 24px;
}

.prefBarLabel {
  margin-bottom: 10px;
 }

.trendingLabel {
  margin-top: 25px;
  margin-bottom: 10px;
}


/* Animation */

.homeAni-appear {
   opacity: 0.01;
}

.homeAni-appear.homeAni-appear-active {
   opacity: 1;
   transition: opacity 300ms ease-in;
}
