.navbar {
  width: 100vw;
  margin: 0;
  padding: 0;
  flex: 0 0 auto;
}

.navbar-header{
  text-align: center;
  margin-left: 20px;
}

#teaTimeHeader {
  text-align: center;
  color: white;
}

.modalHeading{
  text-align:center;
  font-weight:bold;
  color: #E26A6A;
}
.headingContainer{
  padding:20px;
}

.cnclBtn{
  float:right;
}

.cnfmBtn{
  float:center;
}

.modalHeading{
  text-align:left;

}

.logoutModal {
  background-color: #262424;
  
}

#welcome {
  color: rgb(83, 200, 221);
  font-size: 15px;
  padding: 15px;
}

#welcomeImg {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: -5px;
}
