.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: vw;
}

.navbar-header{
  text-align: center;
  width: 150px;
  margin-left: 20px;
}

#teaTimeHeader {
  text-align: center;
  color: white;
}

.closeBtn{
  float:right;
  margin-top:-70px;
}

.cnfmBtm{
  float:center;
}

.modalHeading{
  text-align:left;
}
