html, body {
  background: black;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  height: 100%;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}

.row {
  margin: 0;
  padding: 0;
}
