.peerFirstRow {
  height: 100%;
}

.vidcol {
  margin-top: 15px;
  margin-bottom: 15px;
}

.vidcol.self, .vidcol.peer2div {
  padding-left: 0px;

}

.vidcol.peer1div, .vidcol.peer3div {
  padding-right: 0px;
}

video {
  width: 100%;
  height: auto;
}

.col-md-6 .selfCol {
  display: flex;
  justify-content: center;
}

.local {
  display: flex;
  max-width: 60%;
}

.peerName{
  color: white;
}
