.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
}

.footer-content-left {
  display: inline-block;
  float: left;
}

.footer-content-right {
  display: inline-block;
  float: right;
}

.hearts {
  color: #E26A6A;
}

.fa-github {
  color: white;
}
