.footer {
  width: 100%;
  color: white;
  flex: 0 0 auto;
}

.footer-content-left {
  display: inline-block;
  float: left;
}

.footer-content-right {
  display: inline-block;
  float: right;
  text-decoration: none !important;
  color: rgb(83, 200, 221);
}

.footer-content-right:hover {
  color: white;
}

.footer-content-right i {
  color: rgb(83, 200, 221);
}

.hearts {
  color: #E26A6A;
}

.fa-github {
  color: white;
}
